In [1]:
import pandas as pd

### 讀入3個csv

In [2]:
import pandas as pd
# Read the Excel file into a Pandas dataframe
df1 = pd.read_csv("201811_ubike_ticket_001.csv")
df1 = df1.set_axis(["交易序號","卡號","扣款時間","扣款金額","借車時間","借車站代號","借車場站","借車車柱","自行車編號","還車時間","還車站代號","還車場站","還車車柱","租用","手機序號","卡片種類","費率別","業者代碼","根據檔案是IPASS或","整批資料更新時間","存入DB時間","該筆資料更新時間","該筆資料更新時間"], axis=1, inplace=False)
df2 = pd.read_csv("201811_ubike_ticket_002.csv")
df2 = df2.set_axis(["交易序號","卡號","扣款時間","扣款金額","借車時間","借車站代號","借車場站","借車車柱","自行車編號","還車時間","還車站代號","還車場站","還車車柱","租用","手機序號","卡片種類","費率別","業者代碼","根據檔案是IPASS或","整批資料更新時間","存入DB時間","該筆資料更新時間","該筆資料更新時間"], axis=1, inplace=False)
df3 = pd.read_csv("201811_ubike_ticket_003.csv")
df3 = df3.set_axis(["交易序號","卡號","扣款時間","扣款金額","借車時間","借車站代號","借車場站","借車車柱","自行車編號","還車時間","還車站代號","還車場站","還車車柱","租用","手機序號","卡片種類","費率別","業者代碼","根據檔案是IPASS或","整批資料更新時間","存入DB時間","該筆資料更新時間","該筆資料更新時間"], axis=1, inplace=False)
print(df1.shape)
print(df2.shape)
print(df3.shape)

c:\Users\yuyuan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(767269, 23)
(742766, 23)
(801999, 23)

### 合併

In [3]:
merge = pd.concat([df1,df2,df3],axis=0,ignore_index = True )
print(merge.shape)
merge

(2312034, 23)

,交易序號,卡號,扣款時間,扣款金額,借車時間,借車站代號,借車場站,借車車柱,自行車編號,還車時間,...,租用,手機序號,卡片種類,費率別,業者代碼,根據檔案是IPASS或,整批資料更新時間,存入DB時間,該筆資料更新時間,該筆資料更新時間
0,228,13AC845B442D64E025C044C3D97BB99B,2018-11-05 13:01:28,0,2018-11-05 12:56:38,45,捷運公館站(2號出口),015A,00000022CA,2018-11-05 13:01:28,...,0:04:50,E20B5837,01,L01,96,ECC,2018-11-30 23:59:00,2019-02-15 14:03:31,2018-11-05 13:01:28,2018-11-05
1,228,17289A1B3B68AD1BF3BAD948933386B9,2018-11-05 21:59:59,0,2018-11-05 21:54:24,32,捷運六張犁站,013A,0005002802,2018-11-05 21:59:59,...,0:05:35,A38ADC37,01,L01,96,ECC,2018-11-30 23:59:00,2019-02-15 14:03:31,2018-11-05 21:59:59,2018-11-05
2,228,6342E5369B25E324F3BAD948933386B9,2018-11-05 18:04:17,5,2018-11-05 17:59:03,110,文湖國小,022B,0005000B0E,2018-11-05 18:04:17,...,0:05:14,C600B635,01,L01,96,ECC,2018-11-30 23:59:00,2019-02-15 14:03:31,2018-11-05 18:04:17,2018-11-05
3,228,A1804FA60ED8B5AD73979766C9583BAD,2018-11-05 10:25:15,5,2018-11-05 10:20:16,38,臺灣師範大學(圖書館),012A,00050024BD,2018-11-05 10:25:15,...,0:04:59,C5761E39,01,L01,96,ECC,2018-11-30 23:59:00,2019-02-15 14:03:31,2018-11-05 10:25:15,2018-11-05
4,228,0D5A7CEAB5CD56A3885D30353824D5F1,2018-11-05 13:08:47,5,2018-11-05 13:02:56,132,羅斯福新生南路口,003B,00050005FD,2018-11-05 13:08:47,...,0:05:51,D79EE637,01,L01,95,ECC,2018-11-30 23:59:00,2019-02-15 14:03:31,2018-11-05 13:08:47,2018-11-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312029,830,0EAB9F5ED2C115DBB98EAB4FD1623018,2018-11-16 15:16:23,5,2018-11-16 15:01:40,375,銘傳大學,003A,0005001247,2018-11-16 15:16:23,...,0:14:43,711E9B39,1,L01,96,ECC,2018-11-30 23:59:00,2019-02-15 14:03:42,2018-11-16 15:16:23,2018-11-16
2312030,830,D515CD3CBE6C9B3CBB025C22AE48AFA0,2018-11-16 17:35:31,5,2018-11-16 17:32:50,275,西本願寺廣場,019A,000000375C,2018-11-16 17:35:31,...,0:02:41,8CCA263A,1,L01,95,ECC,2018-11-30 23:59:00,2019-02-15 14:03:42,2018-11-16 17:35:31,2018-11-16
2312031,830,F1924EBCF008CD74885D30353824D5F1,2018-11-16 08:10:24,0,2018-11-16 08:03:45,331,民族玉門街口,002A,0000002600,2018-11-16 08:10:24,...,0:06:39,7331E33A,1,L01,96,ECC,2018-11-30 23:59:00,2019-02-15 14:03:42,2018-11-16 08:10:24,2018-11-16
2312032,830,2F6B20036338EE1DF3BAD948933386B9,2018-11-16 16:52:47,5,2018-11-16 16:44:12,304,金華公園,014A,000500289E,2018-11-16 16:52:47,...,0:08:35,60C8F93A,1,L01,96,ECC,2018-11-30 23:59:00,2019-02-15 14:03:42,2018-11-16 16:52:47,2018-11-16
2312033,830,554B39A750F385D90BAD8C25B6EFFA41,2018-11-16 10:44:47,5,2018-11-16 10:19:46,281,松江公園,011B,0005002ECC,2018-11-16 10:44:38,...,0:24:52,AF73C536,1,L01,95,ECC,2018-11-30 23:59:00,2019-02-15 14:03:42,2018-11-16 10:44:47,2018-11-16

### 借車、還車資料

In [4]:
data1 = merge[["借車時間","借車場站"]]
df_out = data1.copy()
# Convert the date column to a Pandas datetime format
df_out['借車時間'] = pd.to_datetime(df_out['借車時間'])
df_out = df_out[df_out['借車場站'] == '捷運公館站(2號出口)']
df_out

                       借車時間         借車場站
0       2018-11-05 12:56:38  捷運公館站(2號出口)
31      2018-11-05 08:37:58  捷運公館站(2號出口)
59      2018-10-26 11:37:22  捷運公館站(2號出口)
63      2018-11-05 19:24:09  捷運公館站(2號出口)
81      2018-11-05 23:03:23  捷運公館站(2號出口)
...                     ...          ...
2311305 2018-11-16 21:16:58  捷運公館站(2號出口)
2311309 2018-11-16 21:18:55  捷運公館站(2號出口)
2311404 2018-11-16 15:35:28  捷運公館站(2號出口)
2311568 2018-11-16 19:14:26  捷運公館站(2號出口)
2312006 2018-11-16 15:40:56  捷運公館站(2號出口)

[38644 rows x 2 columns]

In [5]:
#確保資料有在時間範圍內
df_out = df_out[df_out['借車時間'] >= '2018-11-01 00:00:00']
df_out = df_out[df_out['借車時間'] <= '2018-11-30 23:59:59']
df_out = df_out.sort_values(by='借車時間')
df_out['value'] = 1
df_out

                       借車時間         借車場站  value
1824278 2018-11-01 00:02:18  捷運公館站(2號出口)      1
1977364 2018-11-01 00:02:47  捷運公館站(2號出口)      1
1823903 2018-11-01 00:03:03  捷運公館站(2號出口)      1
1701298 2018-11-01 00:04:25  捷運公館站(2號出口)      1
1930770 2018-11-01 00:08:31  捷運公館站(2號出口)      1
...                     ...          ...    ...
1860144 2018-11-30 23:50:57  捷運公館站(2號出口)      1
1859982 2018-11-30 23:51:09  捷運公館站(2號出口)      1
1898638 2018-11-30 23:51:56  捷運公館站(2號出口)      1
1898177 2018-11-30 23:51:58  捷運公館站(2號出口)      1
1898536 2018-11-30 23:52:14  捷運公館站(2號出口)      1

[38313 rows x 3 columns]

In [6]:
out_resample = df_out.set_index('借車時間').resample('H')['value'].sum()
df_out_resample = pd.DataFrame(out_resample)
df_out_resample = df_out_resample.set_axis(["借車人次"], axis=1, inplace=False)
# df_out_resample.reset_index()
df_out_resample

                     借車人次
借車時間
2018-11-01 00:00:00    15
2018-11-01 01:00:00     7
2018-11-01 02:00:00     3
2018-11-01 03:00:00     0
2018-11-01 04:00:00     0
...                   ...
2018-11-30 19:00:00   129
2018-11-30 20:00:00   103
2018-11-30 21:00:00   115
2018-11-30 22:00:00   104
2018-11-30 23:00:00    42

[720 rows x 1 columns]

In [7]:
data2 = merge[["還車時間","還車場站"]]
df_in = data2.copy()
# Convert the date column to a Pandas datetime format
df_in['還車時間'] = pd.to_datetime(df_in['還車時間'])
df_in = df_in[df_in['還車場站'] == '捷運公館站(2號出口)']
df_in

                       還車時間         還車場站
114     2018-11-05 15:35:04  捷運公館站(2號出口)
119     2018-11-05 18:04:10  捷運公館站(2號出口)
204     2018-11-05 18:14:01  捷運公館站(2號出口)
359     2018-11-05 07:33:16  捷運公館站(2號出口)
404     2018-11-05 14:49:49  捷運公館站(2號出口)
...                     ...          ...
2311324 2018-11-16 15:26:54  捷運公館站(2號出口)
2311330 2018-11-16 21:36:05  捷運公館站(2號出口)
2311722 2018-11-16 13:02:21  捷運公館站(2號出口)
2311992 2018-11-16 00:53:30  捷運公館站(2號出口)
2312008 2018-11-16 19:43:36  捷運公館站(2號出口)

[35738 rows x 2 columns]

In [8]:
df_in = df_in[df_in['還車時間'] >= '2018-11-01 00:00:00']
df_in = df_in[df_in['還車時間'] <= '2018-11-30 23:59:59']
df_in = df_in.sort_values(by='還車時間')
df_in['value'] = 1
df_in

                       還車時間         還車場站  value
1894230 2018-11-01 00:09:56  捷運公館站(2號出口)      1
1782954 2018-11-01 00:10:47  捷運公館站(2號出口)      1
1921959 2018-11-01 00:11:31  捷運公館站(2號出口)      1
1751976 2018-11-01 00:11:46  捷運公館站(2號出口)      1
1762767 2018-11-01 00:21:03  捷運公館站(2號出口)      1
...                     ...          ...    ...
1860006 2018-11-30 23:49:03  捷運公館站(2號出口)      1
1898499 2018-11-30 23:50:44  捷運公館站(2號出口)      1
1898790 2018-11-30 23:55:53  捷運公館站(2號出口)      1
1907120 2018-11-30 23:58:53  捷運公館站(2號出口)      1
1908139 2018-11-30 23:59:49  捷運公館站(2號出口)      1

[35383 rows x 3 columns]

In [9]:
in_resample = df_in.set_index('還車時間').resample('H')['value'].sum()
df_in_resample = pd.DataFrame(in_resample)
df_in_resample = df_in_resample.set_axis(["還車人次"], axis=1, inplace=False)
# df_in_resample.reset_index(drop=True)
df_in_resample

                     還車人次
還車時間
2018-11-01 00:00:00    10
2018-11-01 01:00:00     2
2018-11-01 02:00:00     0
2018-11-01 03:00:00     0
2018-11-01 04:00:00     0
...                   ...
2018-11-30 19:00:00   130
2018-11-30 20:00:00    87
2018-11-30 21:00:00    82
2018-11-30 22:00:00    83
2018-11-30 23:00:00    44

[720 rows x 1 columns]

In [10]:
start_date = "2018-11-01 00:00:00"
end_date = "2018-11-30 23:00:00"
date_range = pd.date_range(start=start_date, end=end_date, freq="H")
res = pd.DataFrame({'時間1': date_range})
res["時間"] =date_range
res = res.set_index('時間1')
res

                                     時間
時間1
2018-11-01 00:00:00 2018-11-01 00:00:00
2018-11-01 01:00:00 2018-11-01 01:00:00
2018-11-01 02:00:00 2018-11-01 02:00:00
2018-11-01 03:00:00 2018-11-01 03:00:00
2018-11-01 04:00:00 2018-11-01 04:00:00
...                                 ...
2018-11-30 19:00:00 2018-11-30 19:00:00
2018-11-30 20:00:00 2018-11-30 20:00:00
2018-11-30 21:00:00 2018-11-30 21:00:00
2018-11-30 22:00:00 2018-11-30 22:00:00
2018-11-30 23:00:00 2018-11-30 23:00:00

[720 rows x 1 columns]

In [11]:
res = pd.concat([res,df_out_resample,df_in_resample], axis=1, ignore_index = True )
res = res.set_axis(["時間", "借車人數","還車人數"], axis=1, inplace=False)
res['該小時車輛變化'] = res['還車人數'] - res['借車人數']
res

                                     時間  借車人數  還車人數  該小時車輛變化
2018-11-01 00:00:00 2018-11-01 00:00:00    15    10       -5
2018-11-01 01:00:00 2018-11-01 01:00:00     7     2       -5
2018-11-01 02:00:00 2018-11-01 02:00:00     3     0       -3
2018-11-01 03:00:00 2018-11-01 03:00:00     0     0        0
2018-11-01 04:00:00 2018-11-01 04:00:00     0     0        0
...                                 ...   ...   ...      ...
2018-11-30 19:00:00 2018-11-30 19:00:00   129   130        1
2018-11-30 20:00:00 2018-11-30 20:00:00   103    87      -16
2018-11-30 21:00:00 2018-11-30 21:00:00   115    82      -33
2018-11-30 22:00:00 2018-11-30 22:00:00   104    83      -21
2018-11-30 23:00:00 2018-11-30 23:00:00    42    44        2

[720 rows x 4 columns]

In [12]:
# save the DataFrame to a CSV file
res.to_csv('公館201811_車輛變化數.csv', index=False)

PermissionError: [Errno 13] Permission denied: '公館201811_車輛變化數.csv'